<a href="https://colab.research.google.com/github/Naveengowtham2003/Meta-Schifor/blob/main/Assaignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sets Assaignment

In [ ]:
pl = {"python", "C-Programming", "Java","Java","Swift"}
pl

{'C-Programming', 'Java', 'Swift', 'python'}

##True----->1,False----->0

In [ ]:
s1= {1,0,True,False}
s2  = {True,False,0,1}
s1,s2

({0, 1}, {False, True})

## Length and Type Function

To find the length of a set we can use len() function and to find the type of a place holder we can use type() function

In [ ]:
s1.add("Hello")
s2.add("New")
s2= list(s2)
print(" Elements in set s1:",s1,"\n","Elements in s2:",s2,"\n","Length of s1:",len(s1),"\n","Length of s2:",len(s2),"\n","Typeof s1:",type(s1),"\n","Type of s2:",type(s2))

 Elements in set s1: {0, 1, 'Hello'}
 Elements in s2: [False, True, 'New']
 Length of s1: 3
 Length of s2: 3
 Typeof s1: <class 'set'>
 Type of s2: <class 'list'>

## Accessing/Traversing Elements in a set

In [ ]:
value_Set = {1,2,3,4,5}
for value in value_Set:
  print(value)

1
2
3
4
5

## Adding/updating/removing elements in  a set

In [ ]:
a = set()
a.add(1)
a.add(2)
a.add(3)
a

{1, 2, 3}

In [ ]:
b = set()
b.add(4)
b.add(5)
b.add(6)
a.update(b)
print(" Value of a:",a,"\n","values of b:",b)

 Value of a: {1, 2, 3, 4, 5, 6}
 values of b: {4, 5, 6}

In [ ]:
a.remove(1)
a

{2, 3, 4, 5, 6}

In [ ]:
a.pop()

2

##union/Intersection/Difference/Symetric Difference/

In [ ]:
set1 = {"a","b","c","d"}
set2 = {"e","f","g","h"}
set3 = {"h","i","j","k"}
set4 = set1.union(set2) #union
set4

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [ ]:
new_set = set1 | set2 | set3 |set4
new_set

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k'}

In [ ]:
set5= {"a","b","c","d"}
set6 = {"a","f","c","h"}
set7 = set5.intersection(set6) #Intersection
set7

{'a', 'c'}

In [ ]:
D_set = set5 & set6
D_set

{'a', 'c'}

In [ ]:
diff_set = set1.difference(set2) #Difference
diff_set

{'a', 'b', 'c', 'd'}

In [ ]:
diff_set2 = set1 - set2
diff_set2

{'a', 'b', 'c', 'd'}

In [ ]:
symmetric1 = set1.symmetric_difference(set2) #Symmetric Difference
symmetric1

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

In [ ]:
symmetric2 = set1 ^ set2
symmetric2

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'}

# File Handling

## Opening the file in R mode

In [ ]:
t= open("TEST.txt", "r")
print(t.read())

Hi
this
is a
Assignmet

## Traversing through the file

In [ ]:
t= open("TEST.txt", "r")
for i in t :
  print(i)

Hi

this

is a

Assignmet

## Reading the first line of the file

In [ ]:
t = open("TEST.txt", "r")
print(t.readline())
t.close()

Hi

## Appending text to file

In [ ]:
t = open("TEST.txt", "a")
t.write("Appending text")
t.close()
t = open("TEST.txt", "r")
print(t.read())

Hi
this
is a
Assignmet
Appending textAppending text

## Deleting the file

In [ ]:
import os
try:
  os.remove("t1.txt")
except:
  print("The file does not exist")

The file does not exist

In [ ]:
try:
  os.remove("TEST.txt")
  print("File Deleted Successfully")
except:
  print("The file does not exist")

File Deleted Successfully

In [ ]:
class add:
  def __init__(x,y):
    x =x
    y=y
  def ask(x,y):
    return(x+y)
print(add.ask(1,2))

3